.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.howToVoteVideo {
  max-height: 700px;
}

.QRCodeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.QRCodeImage {
  border: solid black 5px;
}
